body {
    height: 100vh;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;;
    background: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.main-title {
    padding-top: 50px;
    color: white;
    font-size: 70px;
    text-align: center;
}

h1 {
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: #d9bddb;
}
